<div id="inostripiatti" class="inostripiatti">
  <div class="stylingImg">
    <div class="riquadroPiatto" (click)="openLasagna()"></div>
    <div class="riquadroPiatto" (click)="openLinguine()"></div>
    <div class="riquadroPiatto" (click)="openPasta()"></div>
  </div>
  <div class="immaginePiatti">
    <img src="../assets/lasagnapiatto.jpg" />
    <img src="../assets/linguine.jpg" />
    <img src="../assets/piattoalforno.jpg" />
  </div>
  <div class="backgroundPiatti">
    <div class="backgroundBiancoPiatti"></div>
    <div class="backgroundBiancoPiatti"></div>
    <div class="backgroundBiancoPiatti"></div>
  </div>
  <div class="fondaleBackgroundPiatti">
    <div class="fondalePiattiBg"></div>
    <div class="fondalePiattiBg"></div>
    <div class="fondalePiattiBg"></div>
  </div>
</div>

<!-- MODALE LASAGNA -->
<div class="contenitore-modale" *ngIf="showLasagna">
  <div class="overlay" (click)="closeLasagna()"></div>
  <div class="contenuto-modale">
    <div class="piatto">
      <h4>TOP - PRIMI PIATTI</h4>
      <h2>LASAGNA DELLA NONNA</h2>
      <div class="contenitore-immagine">
        <img src="../assets/lasagnapiatto.jpg" />
      </div>
      <p>Ottimizzata dopo più di mille tentativi</p>
      <p>ecco la lasagna che ti farà emozionare</p>
      <p>e ricordare la stessa che faceva la nonna</p>
      <h3 class="nome-ristorante-menu">BELLAGIO</h3>
    </div>
    <div class="divisore-menu"></div>
    <div class="menu">
      <div class="menu-colonna-sx">
        <h4>THE</h4>
        <h2>MENU</h2>

        <div class="titolo-menu">
          <h5>ANTIPASTI</h5>
        </div>
        <div class="contenuto-titolo">
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>BRUSCHETTA</h3>
                <h3>€. 4,00</h3>
              </div>
              <p>Pane artigianale, olio extravergine di oliva e pomodoro</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>BURRATA</h3>
                <h3>€. 12,00</h3>
              </div>
              <p>Burrata DOP e verdure</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>SALUMI (2 persone)</h3>
                <h3>€. 25,00</h3>
              </div>
              <p>Tagliere di salumi</p>
            </div>
          </div>
        </div>

        <div class="titolo-menu">
          <h5>PRIMI</h5>
        </div>
        <div class="contenuto-titolo">
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>LASAGNA DELLA NONNA</h3>
                <h3>€. 18,00</h3>
              </div>
              <p>Con passata artigianale e carne di bovino fresca</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>LINGUINE BELLAGIO</h3>
                <h3>€. 16,00</h3>
              </div>
              <p>Linguine con brodo di verdure e anduja</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>PASTA AL FORNO</h3>
                <h3>€. 16,00</h3>
              </div>
              <p>Pasta al forno con pomodorini essiccati</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>RISOTTO AI FUNGHI</h3>
                <h3>€. 19,00</h3>
              </div>
              <p>Risotto con funghi porcini e grana</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>PASTA AL POMODORO</h3>
                <h3>€. 14,00</h3>
              </div>
              <p>Pasta al sugo di pomodoro artigianale</p>
            </div>
          </div>
        </div>

      </div>
      <div class="menu-colonna-dx">
        <div class="voci-menu">
          <div class="titolo-menu">
            <h5>SECONDI</h5>
          </div>
          <div class="contenuto-titolo">
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>POLLO ALLA CACCIATORA</h3>
                  <h3>€. 20,00</h3>
                </div>
                <p>Pollo cucinato come cacciagione</p>
              </div>
            </div>
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>SPEZZATINO</h3>
                  <h3>€. 22,00</h3>
                </div>
                <p>Stufato di cubetti di manzo in vino rosso</p>
              </div>
            </div>
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>PESCE AL CARTOCCIO</h3>
                  <h3>€. 25,00</h3>
                </div>
                <p>Branzino marinato dentro all'alluminio</p>
              </div>
            </div>
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>SGOMBRO AL FORNO</h3>
                  <h3>€. 22,00</h3>
                </div>
                <p>Sgombro con marinatura di erbe, olio e limone</p>
              </div>
            </div>
          </div>

          <div class="titolo-menu">
            <h5>DOLCI</h5>
          </div>
          <div class="contenuto-titolo">
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>SORBETTO AL LIMONE</h3>
                  <h3>€. 4,00</h3>
                </div>
                <p>Leggero, dolce e fresco</p>
              </div>
            </div>
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>PROFITTEROL</h3>
                  <h3>€. 8,00</h3>
                </div>
                <p>Bigné di crema ricoperto di cioccolato</p>
              </div>
            </div>
          </div>
        </div>
        <div class="immagine-angolo">
          <img src="../assets/renderlasagna.png" />
        </div>
      </div>
    </div>
    <button (click)="closeLasagna()">X</button>
  </div>
</div>

<!-- MODALE LINGUINE -->
<div class="contenitore-modale" *ngIf="showLinguine">
  <div class="overlay" (click)="closeLinguine()"></div>
  <div class="contenuto-modale">
    <div class="piatto">
      <h4>TOP - PRIMI PIATTI</h4>
      <h2>LINGUINE BELLAGIO</h2>
      <div class="contenitore-immagine">
        <img src="../assets/linguine.jpg" />
      </div>
      <p>Il perfeto equilibrio tra gourmet,</p>
      <p>autenticità e semplicità</p>
      <h3 class="nome-ristorante-menu">BELLAGIO</h3>
    </div>
    <div class="divisore-menu"></div>
    <div class="menu">
      <div class="menu-colonna-sx">
        <h4>THE</h4>
        <h2>MENU</h2>

        <div class="titolo-menu">
          <h5>ANTIPASTI</h5>
        </div>
        <div class="contenuto-titolo">
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>BRUSCHETTA</h3>
                <h3>€. 4,00</h3>
              </div>
              <p>Pane artigianale, olio extravergine di oliva e pomodoro</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>BURRATA</h3>
                <h3>€. 12,00</h3>
              </div>
              <p>Burrata DOP e verdure</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>SALUMI (2 persone)</h3>
                <h3>€. 25,00</h3>
              </div>
              <p>Tagliere di salumi</p>
            </div>
          </div>
        </div>

        <div class="titolo-menu">
          <h5>PRIMI</h5>
        </div>
        <div class="contenuto-titolo">
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>LASAGNA DELLA NONNA</h3>
                <h3>€. 18,00</h3>
              </div>
              <p>Con passata artigianale e carne di bovino fresca</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>LINGUINE BELLAGIO</h3>
                <h3>€. 16,00</h3>
              </div>
              <p>Linguine con brodo di verdure e anduja</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>PASTA AL FORNO</h3>
                <h3>€. 16,00</h3>
              </div>
              <p>Pasta al forno con pomodorini essiccati</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>RISOTTO AI FUNGHI</h3>
                <h3>€. 19,00</h3>
              </div>
              <p>Risotto con funghi porcini e grana</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>PASTA AL POMODORO</h3>
                <h3>€. 14,00</h3>
              </div>
              <p>Pasta al sugo di pomodoro artigianale</p>
            </div>
          </div>
        </div>

      </div>
      <div class="menu-colonna-dx">
        <div class="voci-menu">
          <div class="titolo-menu">
            <h5>SECONDI</h5>
          </div>
          <div class="contenuto-titolo">
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>POLLO ALLA CACCIATORA</h3>
                  <h3>€. 20,00</h3>
                </div>
                <p>Pollo cucinato come cacciagione</p>
              </div>
            </div>
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>SPEZZATINO</h3>
                  <h3>€. 22,00</h3>
                </div>
                <p>Stufato di cubetti di manzo in vino rosso</p>
              </div>
            </div>
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>PESCE AL CARTOCCIO</h3>
                  <h3>€. 25,00</h3>
                </div>
                <p>Branzino marinato dentro all'alluminio</p>
              </div>
            </div>
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>SGOMBRO AL FORNO</h3>
                  <h3>€. 22,00</h3>
                </div>
                <p>Sgombro con marinatura di erbe, olio e limone</p>
              </div>
            </div>
          </div>

          <div class="titolo-menu">
            <h5>DOLCI</h5>
          </div>
          <div class="contenuto-titolo">
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>SORBETTO AL LIMONE</h3>
                  <h3>€. 4,00</h3>
                </div>
                <p>Leggero, dolce e fresco</p>
              </div>
            </div>
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>PROFITTEROL</h3>
                  <h3>€. 8,00</h3>
                </div>
                <p>Bigné di crema ricoperto di cioccolato</p>
              </div>
            </div>
          </div>
        </div>
        <div class="immagine-angolo">
          <img src="../assets/renderlasagna.png" />
        </div>
      </div>
    </div>
    <button (click)="closeLinguine()">X</button>
  </div>
</div>

<!-- MODALE PASTA AL FORNO -->
<div class="contenitore-modale" *ngIf="showPasta">
  <div class="overlay" (click)="closePasta()"></div>
  <div class="contenuto-modale">
    <div class="piatto">
      <h4>TOP - PRIMI PIATTI</h4>
      <h2>PASTA AL FORNO</h2>
      <div class="contenitore-immagine">
        <img src="../assets/piattoalforno.jpg" />
      </div>
      <p>Pasta al forno croccante fuori e morbida dentro</p>
      <p>Una texture perfetta e un'esplosione di gusti</p>
      <p>grazie ai pomoridini essicati di nostra produzione</p>
      <h3 class="nome-ristorante-menu">BELLAGIO</h3>
    </div>
    <div class="divisore-menu"></div>
    <div class="menu">
      <div class="menu-colonna-sx">
        <h4>THE</h4>
        <h2>MENU</h2>

        <div class="titolo-menu">
          <h5>ANTIPASTI</h5>
        </div>
        <div class="contenuto-titolo">
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>BRUSCHETTA</h3>
                <h3>€. 4,00</h3>
              </div>
              <p>Pane artigianale, olio extravergine di oliva e pomodoro</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>BURRATA</h3>
                <h3>€. 12,00</h3>
              </div>
              <p>Burrata DOP e verdure</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>SALUMI (2 persone)</h3>
                <h3>€. 25,00</h3>
              </div>
              <p>Tagliere di salumi</p>
            </div>
          </div>
        </div>

        <div class="titolo-menu">
          <h5>PRIMI</h5>
        </div>
        <div class="contenuto-titolo">
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>LASAGNA DELLA NONNA</h3>
                <h3>€. 18,00</h3>
              </div>
              <p>Con passata artigianale e carne di bovino fresca</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>LINGUINE BELLAGIO</h3>
                <h3>€. 16,00</h3>
              </div>
              <p>Linguine con brodo di verdure e anduja</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>PASTA AL FORNO</h3>
                <h3>€. 16,00</h3>
              </div>
              <p>Pasta al forno con pomodorini essiccati</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>RISOTTO AI FUNGHI</h3>
                <h3>€. 19,00</h3>
              </div>
              <p>Risotto con funghi porcini e grana</p>
            </div>
          </div>
          <div class="contenuto-titolo-riga">
            <div class="riga-prodotto">
              <div class="prodotto-header">
                <h3>PASTA AL POMODORO</h3>
                <h3>€. 14,00</h3>
              </div>
              <p>Pasta al sugo di pomodoro artigianale</p>
            </div>
          </div>
        </div>

      </div>
      <div class="menu-colonna-dx">
        <div class="voci-menu">
          <div class="titolo-menu">
            <h5>SECONDI</h5>
          </div>
          <div class="contenuto-titolo">
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>POLLO ALLA CACCIATORA</h3>
                  <h3>€. 20,00</h3>
                </div>
                <p>Pollo cucinato come cacciagione</p>
              </div>
            </div>
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>SPEZZATINO</h3>
                  <h3>€. 22,00</h3>
                </div>
                <p>Stufato di cubetti di manzo in vino rosso</p>
              </div>
            </div>
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>PESCE AL CARTOCCIO</h3>
                  <h3>€. 25,00</h3>
                </div>
                <p>Branzino marinato dentro all'alluminio</p>
              </div>
            </div>
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>SGOMBRO AL FORNO</h3>
                  <h3>€. 22,00</h3>
                </div>
                <p>Sgombro con marinatura di erbe, olio e limone</p>
              </div>
            </div>
          </div>

          <div class="titolo-menu">
            <h5>DOLCI</h5>
          </div>
          <div class="contenuto-titolo">
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>SORBETTO AL LIMONE</h3>
                  <h3>€. 4,00</h3>
                </div>
                <p>Leggero, dolce e fresco</p>
              </div>
            </div>
            <div class="contenuto-titolo-riga">
              <div class="riga-prodotto">
                <div class="prodotto-header">
                  <h3>PROFITTEROL</h3>
                  <h3>€. 8,00</h3>
                </div>
                <p>Bigné di crema ricoperto di cioccolato</p>
              </div>
            </div>
          </div>
        </div>
        <div class="immagine-angolo">
          <img src="../assets/renderlasagna.png" />
        </div>
      </div>
    </div>
    <button (click)="closePasta()">X</button>
  </div>
</div>
