<div class="info">
  <div class="dove-e-tel">
    <h2>BELLAGIO</h2>
    <h4>Corso Sempione, 83 - Milano (MI)</h4>
    <h5>ORARI</h5>
    <div class="separatore-info"></div>
    <p>Lunedì     -   CHIUSO</p>
    <p>Martedì    -   7pm-11pm</p>
    <p>Mercoledì  -   12pm-11pm</p>
    <p>Giovedì    -   12pm-11pm</p>
    <p>Venerdì    -   12pm-11pm</p>
    <p>Sabato     -   12pm-11pm</p>
    <p>Domenica   -   12pm-11pm</p>
    <div class="separatore-info"></div>
    <h3>CHIAMACI PER PRENOTARE UN TAVOLO!</h3>
    <h5 style="font-size: 2vw; letter-spacing: 0px; color: white;">+39 3479990081</h5>
  </div>

  <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2797.18978123091!2d9.155584775862177!3d45.48612293197629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c111af74d911%3A0x17362de413721b70!2sCorso%20Sempione%2C%2083%2C%2020149%20Milano%20MI!5e0!3m2!1sit!2sit!4v1691343112711!5m2!1sit!2sit"
          width="900"
          height="496"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
