<div class="chisiamo">
  <div class="chisiamo-top">
    <img src="../assets/chefpfp.jpg" class="topLbottomRimg animated-img" />
    <div class="space-between-pictures">
      <h1>BELLAGIO</h1>
      <span>
        Dal 2017, Luca e il suo team hanno portato a Milano
        il piacere di mangiare bene in un ambiente che profuma
        di campagna e autenticità
      </span>
    </div>
    <img src="../assets/Souschef.jpg" class="topRbottomLimg animated-img" />
  </div>
  <div class="chisiamo-bottom">
    <img src="../assets/cookingchef.jpg" class="topRbottomLimg animated-img" />
    <div class="space-between-pictures-bottom">
      <button type="button" (click)="alternaTesto()">{{ mostraNumero ? '+39 3479990081' : 'PRENOTA' }}</button>
    </div>
    <img src="../assets/directorofsales.jpg" class="topLbottomRimg animated-img" />
  </div>
</div>
